@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700');

/*----------------------------background-colors*/

.bg-color-nav {
    background-color:whitesmoke;
}

.bg-color-footer{
   background-color:whitesmoke; 
}

.btn-bg-color{
    background-color: #2e9646;
}

/*-------------------------------Navigation bar*/

nav {
    margin:0;
    padding:0;
    min-height: 80px;
}

.logoname {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 25px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    color:#000;
    margin-left: 20px;
}

.nav-menulist .navlist {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size:25px;
    text-decoration: none;
    text-transform: uppercase;
    color:#000;
    word-spacing: 35px;
    margin-right:20px;
}

li a .navlist:hover {
    color:rgba(0,130, 0, 1);
    transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}

 .navbar-toggler {
    background-color:#dee2e6 ;
}

/*-------------------------------Footer */
footer{
    margin:0;
    padding:0;
    min-height: 100px;
    width:100%;
   
}

.footer-title {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 25px;
    text-decoration: none;
    text-align: left;
    color:#126d5e;
    margin:10px;
}

 .footer-text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-align:left;
    color:#000;
    margin:10px;
}

.link-contact{
    text-decoration: none;
    color:#000;
}

.social-links li a i {
    width:32px;
    height:32px;
    border-radius:50%;
    padding:12px 0;
    margin:10px;
    font-size:13px;
    text-align:center;
    line-height: 7px;
    color:#fff;
    background-color:#555b61;
    transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background-color:#d00a0a;
    margin:10px;
}

.social-links li {
    display:inline;
}

.copyright {
    margin-left:25px;
    font-family: "Roboto" sans-serif;
    font-size:18px;
    color:#000;
    text-decoration: none;
}

/*-----------------------------container image homepage*/

 .container-image {
    background:url('documents/images/pexels-photo-305239.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 800px;
    width: 100%;
}


.text-program {
 margin-top:400px;
 margin-left:20px;
 padding:0;
 background-position: center;
 background-color: rgba(25, 12, 7, 0.77);
 border-radius: 7%;
}


.program-title {
    font-family: "Roboto" , sans-serif;
    font-weight: 500;
    font-size:27px;
    text-align: center;
    color:#fff;
    text-transform: uppercase;
    margin: 10px 5px;
    
}

.program-text .p-text  {
    font-family:"Roboto", sans-serif;
    font-weight:400;
    font-size:20px;
    color:#fff;
    text-align:center;
    margin:10px 5px;
}


.size {
    color:#fff;
    font-family: "Roboto" , sans-serif;
    font-weight: 400;
    margin: 2% 29%;
}

/*--------------------------------container-text homepage*/

.primary-text {
    margin: 40px 5px;
}

 .txt-title {
    margin-top:50px;
    text-align: center;
    font-family:"Roboto" , sans-serif;
    font-weight:500;
    font-size:30px;
    color:#126d5e;
}
 
 .p-text {
    text-align: center;
    font-family: "Roboto" , sans-serif;
    font-weight: 300;
    font-size:18px;
    color:black;
    padding:0;
    margin-bottom: 70px;
}

.sub-title {
    color:#126d5e;
    text-align: center;
    font-size: 25px;
    font-family: "Roboto" sans-serif;
    font-weight: 300;
    word-spacing: 10px;
}

.sub-text {
    color: black;
    font-family: "Roboto";
    text-align: center;
    font-size: 18px;
    font-weight: 300;
}

.nutrition { 
   margin-bottom: 30px; 
}

.exercise {
    margin-bottom:30px;
}

.lifestyle {
    margin-bottom: 30px;
}

.mindset {
    margin-bottom: 30px;
}

/*--------------------------train-program homepage*/

.train-program {
    margin-top:50px;
    background:url(documents/images/pexels-photo-1552242.jpeg);
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    width:100%;
    min-height: 600px;
}

.train {
    margin-top:50px;
    padding:0;
}

.train-title {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size:40px;
    color:#126d5e;
    text-align: center;
    text-transform: uppercase;
}

.train-text {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size:25px;
    color:#fff;
    text-align: center;
    margin-top: 50px;
    margin-bottom:30px;
    padding-left: 10px;
}

 li {
    font-family:"Roboto" sans-serif;
    font-weight: 200;
    font-size:20px;
    color:#fff;
}

ul {
    list-style-type: disc;
}


/*----------------------------------Aboutpage*/

.primary-info{
    margin-top:150px;
    margin-bottom:100px;
    padding:15px;
}

.title{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size:60px;
    color:#126d5e;
    text-align: center;
    text-transform: uppercase;
    margin-bottom:50px;
}

 img {
     max-width:100%;
     height:auto;
     display:block;
     background-repeat: no-repeat;
     margin:auto;
 }

.information{
    margin:70px 20px;
}

/*-----------------------------training page*/

.type-training{
    margin:100px 40px;
    padding:0;
}

.picture {
    max-width:100%;
    height:auto;
    display: block;
    position: relative;
    background-position: center;
    margin:auto;
}

.training {
    margin:20px auto;
}

.name {
    font-family:"Roboto" sans-serif;
    font-size: 40px;
    font-weight: 500;
    text-transform: uppercase;
    color: #652802;
    text-align: left;
}

.price {
   font-family:"Roboto" sans-serif;
   font-weight:300;
   font-size:30px;
   font-style: italic;
   color: #5d5959;
   text-align: justify;
   text-transform: uppercase;
}

.disclaimer {
   font-family:"Roboto" sans-serif;
   font-weight:200;
   font-size:20px;
   font-style: italic;
   color: #5d5959;
   text-align: justify;
}

.description {
   font-family:"Roboto" sans-serif;
   font-weight:300;
   font-size:18px;
   color:black;
   text-align: justify;
}

#features li {
  font-family:"Roboto" sans-serif;
   font-weight:300;
   font-size:18px;
   color:black;
   text-align: justify;  
}

.button-join {
    margin-left: 35%;
    padding-bottom: 20px;
}

/*-----------------------contact page*/

.form-area{
    margin-top:100px;
}

.contact-heading {
    font-family:"Roboto" sans-serif;
    font-weight:500;
    font-size:60px;
    color:#126d5e;
    text-align: center;
    text-transform: uppercase;
    margin-bottom:15px;
}

.center-form{
    margin:0 auto;
    max-width:65%;
}
